
<div style="margin:15px;">
	<form method="post" enctype="multipart/form-data" action="${uploadAction}" data-dojo-attach-point="uploadFormNode">
		<input type="hidden" name="a" value="${actionMethod}">
		<input type="hidden" name="eventId" value="${eventId}">
		
		<table>
			<tr>
				<td class="label required" style="vertical-align:middle;">Upload File</td>
				<td>
					<input type="file" name="file">
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<div data-dojo-attach-point="uploadButtonNode"></div>
				</td>
			</tr>
		</table>
	</form>
	<div class="sub-divider"></div>
	
	<div data-dojo-attach-point="gridNode"></div>
	
	<div class="sub-divider"></div>
	
	<div data-dojo-attach-point="deleteButtonNode"></div>
</div>