#
# Make sure AllowOverride is set to 'All' for the deployment directory ('/var/www', etc).
#

RewriteEngine on

#
# run everything through Controller.php
#

RewriteRule ^/?$ index.php

RewriteCond $1 !^\/?(favicon\.ico|js|css|images|pdf|files)
RewriteRule ^(.*)$ index.php [L]

#
# php settings must be set by adhost in their environment. the following
# should be commented when running there.
#

# magic_quotes_gpc cannot be set by ini_set() in a script.
php_flag magic_quotes_gpc Off
