#
# Make sure AllowOverride is set to 'All' for the deployment directory ('/var/www', etc).
#
# Required Apache Modules: rewrite, expires, headers, deflate
#

#
# run everything through Controller.php
#

########################################
# use for non-SSL
########################################
RewriteEngine on

RewriteRule ^/?$ http://%{SERVER_NAME}%{REQUEST_URI}admin/Login [R,L]

RewriteCond $1 !^\/?(robots\.txt|favicon\.ico|js|css|images|pdf|files)
RewriteRule ^(.*)$ index.php [L]



########################################
# force SSL
########################################

##
# redirect base url to login page.
##
#RewriteRule ^/?$ https://%{SERVER_NAME}%{REQUEST_URI}admin/Login [R,L]

##
# redirect all http requests (port 80) to https.
##
#RewriteCond %{SERVER_PORT} ^80$
#RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

# if it's an SSL request, then rewrite to index.php.
#RewriteCond %{HTTPS} =on
#RewriteCond $1 !^\/?(robots\.txt|favicon\.ico|js|css|images|pdf|files)
#RewriteRule ^(.*)$ index.php [L]
########################################

########################################
# cache files
########################################

<FilesMatch "\.(ico|css|less|js)$">
ExpiresActive On
ExpiresDefault "access plus 1 hours"

SetOutputFilter DEFLATE

Header set Cache-Control "max-age=3600, public, must-revalidate"
</FilesMatch>

AddOutputFilterByType DEFLATE text/html text/plain text/css application/javascript




#########################################################################
# php settings must be set by host in their environment. the following
# should be commented when running there.
#########################################################################

# magic_quotes_gpc cannot be set by ini_set() in a script.
php_flag magic_quotes_gpc Off




